header{
  padding: 48px 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  position: fixed;
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 20px;
    backdrop-filter: blur(40px);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 999px;
    width: 100%;
    opacity: 1;
    padding: 4px;
    ul{
      position: relative;
      display: flex;
      li{
        display: flex;
        a{
          color: var(--secondary-color);
          font-weight: bold;
          padding: 12px;
          border-radius: 50px;
          min-width: 120px;
          text-align: center;
          transition: all 0.3s ease;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center; 
          gap: 5px;  
        }
        a.active{
          color: var(--primary-color);
        }
      }
    }
    nav .nav-indicator {
      position: absolute;
      height: 46px;
      background: var(--secondary-color);
      border-radius: 50px;
      top: 4px; /* adjust to align with link padding */
      left: 4px;
      z-index: -1;
      transition: transform 0.35s ease, width 0.35s ease;
    }
  }
}


@media (max-width: 768px) {
  header{
    padding: 40px 0px;
    li{
      a{
        min-width: 60px !important;
        font-size: 18px;
        .page-name{
          display: none;
        }
      }
    }
    nav .nav-indicator {

      height: 42px !important;
      width: 60px;
      border-radius: 50px;
      top: 4px; /* adjust to align with link padding */
      left: 4px;

    }
  }
}


.sc-hwkwBN.Stfry {
  position: fixed;
  display: flex;
  top: 4%;
  left: 80%;
}
.resume{
  width: 100%;
  margin-top: 200vh;
  margin-bottom: 200vh;
  section{
    .container{
      display: flex;
      gap: 20px;
      .left{
        p{
          margin-bottom: 30px;
        }
        h3{
          margin-top: 20px;
        }
        .btn-group{
          margin-bottom: 30px;
        }
      }
      .left{
        .skills{
          display: flex;
          flex-wrap: wrap;
          gap: 15px;
          img{
            width: 45px;
            height: 45px;
          }
        }
      }
      .right{
        display: flex;
        gap: 20px;
        .col-6{
          display: flex;
          flex-direction: column;
          gap: 20px;
        }
        .meta{
          margin-bottom: -10px;
        }
      }
      .box{
        background-color: var(--light-gray);
        padding: 20px;
        border-radius: 10px;
        border: 1px solid var(--border-gray);
        p{
          margin: 0;
        }
        .wrapper{
          margin-bottom: 10px;
          align-items: center;
          justify-content: space-between;
          gap: 10px;
          .sub-heading{
            font-size: 16px;
            font-weight: bold;
          }
          .pill{
            display: inline-block;
            background-color: #dbeafe;
            border: 1px solid #2563eb;
            color: #1d4ed8;
            padding: 3px 9px;
            border-radius: 20px;
            font-size: 12px;
          }
        }
        .meta{
          font-size: 14px;
          margin-bottom: 10px;
          span{
            display: inline-block;
          }
        }
        ul{
          li{
            font-size: 13px;
            list-style: disc;
            margin-left: 20px;
          }
        }
      }
    }
  }
}

#home{
  background-color: black;
  height: 100vh;
  width: 100%;
}