header{
  padding: 20px 0;

  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 20px;

    ul{
      display: flex;

      li{
        margin-left: 20px;

        a{
          color: var(--primary-color);
          font-weight: bold;
          
          &:hover{
            color: var(--accent-color);
          }
        }
      }
    }
  }
}

.resume{
  section{
    .container{
      display: flex;
      gap: 20px;
      .left{
        p{
          margin-bottom: 30px;
        }
        .btn-group{
          margin-bottom: 30px;
        }
      }
      .right{
        display: flex;
        gap: 20px;
        .col-6{
          display: flex;
          flex-direction: column;
          gap: 20px;
        }
        .meta{
          margin-bottom: -10px;
        }
      }
      .box{
        background-color: var(--light-gray);
        padding: 20px;
        border-radius: 10px;
        border: 1px solid var(--border-gray);
        p{
          margin: 0;
        }
        .wrapper{
          margin-bottom: 10px;
          align-items: center;
          justify-content: space-between;
          gap: 10px;
          .sub-heading{
            font-size: 16px;
            font-weight: bold;
          }
          .pill{
            display: inline-block;
            background-color: #dbeafe;
            border: 1px solid #2563eb;
            color: #1d4ed8;
            padding: 3px 9px;
            border-radius: 20px;
            font-size: 12px;
          }
        }
        .meta{
          font-size: 14px;
          margin-bottom: 10px;
          span{
            display: inline-block;
          }
        }
        ul{
          li{
            font-size: 13px;
            list-style: disc;
            margin-left: 20px;
          }
        }
      }
    }
  }
}