header{
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  

  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 20px;
    backdrop-filter: blur(40px);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 999px;
    width: 100%;
    opacity: 1;
    padding: 4px;

    ul{
      display: flex;

      li{
        display: flex;
        a{
          color: var(--secondary-color);
          font-weight: bold;
          padding: 12px;
          border-radius: 50px;
          min-width: 120px;
          text-align: center;
          transition: all 0.3s ease;
          cursor: pointer;
          
          &:active, &:focus{
            color: var(--primary-color);
            background-color: var(--secondary-color);
          }
        }
      }
    }
  }
}

.resume{
  margin-top: 200vh;
  section{
    .container{
      display: flex;
      gap: 20px;
      .left{
        p{
          margin-bottom: 30px;
        }
        h3{
          margin-top: 20px;
        }
        .btn-group{
          margin-bottom: 30px;
        }
      }
      .left{
        .skills{
          display: flex;
          flex-wrap: wrap;
          gap: 15px;
          img{
            width: 45px;
            height: 45px;
          }
        }
      }
      .right{
        display: flex;
        gap: 20px;
        .col-6{
          display: flex;
          flex-direction: column;
          gap: 20px;
        }
        .meta{
          margin-bottom: -10px;
        }
      }
      .box{
        background-color: var(--light-gray);
        padding: 20px;
        border-radius: 10px;
        border: 1px solid var(--border-gray);
        p{
          margin: 0;
        }
        .wrapper{
          margin-bottom: 10px;
          align-items: center;
          justify-content: space-between;
          gap: 10px;
          .sub-heading{
            font-size: 16px;
            font-weight: bold;
          }
          .pill{
            display: inline-block;
            background-color: #dbeafe;
            border: 1px solid #2563eb;
            color: #1d4ed8;
            padding: 3px 9px;
            border-radius: 20px;
            font-size: 12px;
          }
        }
        .meta{
          font-size: 14px;
          margin-bottom: 10px;
          span{
            display: inline-block;
          }
        }
        ul{
          li{
            font-size: 13px;
            list-style: disc;
            margin-left: 20px;
          }
        }
      }
    }
  }
}