header{
  padding: 20px 0;

  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 20px;

    ul{
      display: flex;

      li{
        margin-left: 20px;

        a{
          color: var(--primary-color);
          font-weight: bold;
          
          &:hover{
            color: var(--accent-color);
          }
        }
      }
    }
  }
}

.resume{
  section{
    .container{
      display: flex;
      .right{
        display: flex;
      }
    }
  }
}